@font-face {
  font-family: "Source Code Pro";
  src: url("../../fonts/SourceCodePro-Regular.ttf") format("truetype");
}

* {
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
  /* font-weight: 600; */
  margin: 0px;
}

.timestamp-container {
  margin-left: 20px;
}
