body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E8E8E8;
  color: #171512;
  /* background-color: #E8E8E8;*/
  /* background-color: #171512; */
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  font-size: medium;
}

.container-dark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #E8E8E8;
  
}

.container-dark > * {
  margin-top: 5px;
}

.container-light {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #171512;
}

.container-light > * {
  margin-top: 5px;
}
