body {
  margin: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e8e8e8;
  color: #171512;
  /* background-color: #E8E8E8;*/
  /* background-color: #171512; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.title {
  font-size: medium;
}

.container-dark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* color: #e8e8e8; */
  color: rgb(114, 231, 114);
}

.container-dark > * {
  margin-top: 5px;
  flex: 1;
}

.name {
  color: rgb(236, 93, 93);
}

.container-light {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* color: #171512; */
  color: rgb(0, 107, 0);
  flex: 1;
}

.container-light > * {
  margin-top: 5px;
}

.theme-button {
  /* padding-left: 20px;
  padding-top: -300px;
  align-self: flex-end; */
  display: flex;
  justify-content: flex-end;
  /* margin-top: 10px; */
  margin-right: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100lvh;
  min-width: 100lvw;
}
